<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >

    <name>Biegnij Forrest!</name>
    <description>Przebiegnij najdalej jak potrafisz</description>
    <author email="uek">
		UEK Team
	</author>
	<platform name="android" />
	
    <icon src="imgs/icon.png">
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    
    
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
</widget>
